.main .content{
	height: 1000px;
}
.main .content .bar1{
	width: 1020px;
	height: 35px;
	margin: 40px auto 0;

}
.main .content .bar1 li{
	padding: 0 13px;
	height: 40px;
	color: #999;
	background-color: rgb(226,224,225);
	border-radius: 5px;
	float: left;
	margin-right: 10px;
	line-height: 40px;
	font-size: 12px;
	cursor: pointer;
}
.main .content .bar1 li:hover{
	background-color:rgb(255,123,111);
	color: white;
}
.main .content .bar1 .orange{
	background-color:rgb(255,123,111);
	color: white;
}
.main .content .con{
	margin-left: 90px;
	margin-top:60px;
}
.main .content .con li{
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
	width: 192px;
	height: 278px;
	position: relative;
	overflow: hidden;
}
.main .content .con li img{
	width: 192px;
	height: 216px;
	cursor: pointer;
}
.main .content .con li p{
	width: 100%;
	text-align: center;
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 5px;
}
.main .content .con li span{
	text-align: center;	
	font-size: 12px;
	display: block;
	color: grey;
}
.main .content .con li div{
	background-color: rgba(0,0,0,0.9);
	color: white;
	position: absolute;
	top: 160px;
	width: 100%;
	height: 56px;
	text-align: center;
	line-height: 56px;
	opacity: 0;
	transition: opacity 0.5s;
	cursor: pointer;
}
.main .content .con li:hover div{
	opacity: 0.8;
}

	