.main .content{
	height: 820px;
}
.main .content .title{
	font-size: 26px;
	font-family: 26px;
	color: rgb(90,99,129);
	text-align: center;
	font-family: 宋体;
	padding-top: 90px;
}
.main .content .stitle{
	font-size: 16px;
	color: #999;
	text-align: center;
	margin-top: 20px;
}
.main .content div{
	width: 1090px;
	height: 512px;
	margin:0 auto 0;
}
.main .content div .div1{
	width: 252px;
	height: 100%;
	border-radius: 7px;
	float: left;
	margin-top: 80px;
}

.main .content div .dLeft{
	margin-right: 27px;
}
.main .content div .div1 .u1{
	width: 252px;
	height: 100%;
	border-radius: 7px;
	background-color: rgb(238,238,238);
	padding: 0;
	transition: padding 1s;
}
.main .content div .div1 .u1:hover{
	cursor: pointer;
	background-color: rgb(247,123,111);
	padding: 18px 0;  
	margin-top:-18px;
}
.main .content div .div1 .u1:hover li{
	color: white;
}
.main .content div .div1 .u1:hover .l2,.main .content div .div1 .u1:hover .btn{
	background-color: rgb(215,107,97);
}
.main .content div .div1 .u1 .l1{
	height: 52px;
	line-height: 54px;
	color: rgb(119,119,119);
	text-align: center;
}
.main .content div .div1 .u1 .l2{
	height: 110px;
	line-height: 110px;
	background-color: rgb(119,119,119);
	text-align: center;
	color: white;
	font-size: 36px;
	position: relative;

}
.main .content div .div1 .u1 .l2 .dollar{
	position: absolute;
	font-size: 20px;
	top: 40px;
	left: 70px;
}
.main .content div .div1 .u1 ul{
	width: 100%;
	margin-top: 14px; 
}
.main .content div .div1 .u1 ul li{
	width: 200px;
	height: 42px;
	border-bottom: 1px dotted rgb(211,211,211); 
	line-height: 44px;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
	color: rgb(119,119,119);
}
.main .content div .div1 .u1 .btn{
	margin: 15px auto 0;
	width: 94px;
	height: 40px;
	border-radius: 6px;
	background-color: rgb(172,172,172);
	color: white;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
}